<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854797702565-h3bg6i78kovv7bhdg3kohff8deis0ath.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854797702565-h3bg6i78kovv7bhdg3kohff8deis0ath</string>
	<key>API_KEY</key>
	<string>AIzaSyDn7FbSuXh9QhIhGQj7jWtCXVeuXUkdLg0</string>
	<key>GCM_SENDER_ID</key>
	<string>854797702565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterUdemySns.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-udemy-e155b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-udemy-e155b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854797702565:ios:672794880287db3977844c</string>
</dict>
</plist>